
$icons: (
  // Icomoon Icons
  www: '\e90e',
  home: '\e90d',
  phone: '\e90c',
  speed: '\e90b',
  beans: '\e907',
  barista: '\e908',
  trophy: '\e909',
  cup: '\e90a',
  check: '\e900',
  time: '\e901',
  instagram: '\e902',
  facebook: '\e903',
  vk: '\e904',
  location: '\e905',
  calendar: '\e906',

  // Extra Icons
);

